#flexTesting {
    font-size: 100px;
}
p {
    font-size: 22px;
}
#boxContainer {
    background-color: gray; /*-- give container a background to see what you're working with --*/
    display: flex; /*--- allows the parent container to become a flex container ---*/
    height: 300px;
    flex-direction: column; /*--- stacks the flex container item into a column, can also be aligned as a row ---*/
   
}
#box-1 {
    background-color: blueviolet;
    height: 50%;
    width: 50%;
}
#box-2 {
    background-color: chartreuse;
    height: 50%;
    width: 50%;

}
