* {
    padding: 0;
    margin: 0;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    height: 60px;

    /* border: 1px solid; */
    background: linear-gradient(to top right, #082032, #1C5C8B);
    


}
#navbar ul {
    list-style-type: none;
}
#navbar li{
    display: inline-block;
    padding: 15px;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: border .7s;
    /* border-bottom: 2px solid transparent; */
    transition: color .5s;

}
.nav-link:hover {
    /* border-bottom: 2px solid #FF4C29; */
    color: #FF4C29;

}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #2C394B, #334756) ;
}
#welcome-section h1 {
    font-size: 85px;
    color: white;
    font-family: 'Pacifico', cursive;
}
#welcome-section p {
    font-size: 25px;
    color: white;
    font-style: italic;
    
    
}
projects-section {
    height: 100vh;
    margin: 0;
}
.projects-section-header {
    text-align: center;
    font-size: 40px;
    padding: 50px;
    text-decoration: underline #FF4C29;
    background: #082032;
    color: white;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 80px;
    background-color: #082032;
    padding: 60px;
    grid-gap: 50px;
}
.project-tile {
    padding: 100px;
    text-align: center;
}
#one {
    background: blue;
}
#two {
    background: purple;
}
#three {
    background: yellow;
}