* {
    padding: 0;
    margin: 0;
}
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    height: 60px;

    /* border: 1px solid; */
    background: linear-gradient(to top right, #082032, #1C5C8B);
}
#navbar ul {
    list-style-type: none;
}
#navbar li{
    display: inline-block;
    padding: 15px;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: border .7s;
    /* border-bottom: 2px solid transparent; */
    transition: color .7s;

}
.nav-link:hover {
    /* border-bottom: 2px solid #FF4C29; */
    color: #FF4C29;

}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom left, #2C394B, #334756) ;
}
#welcome-section h1 {
    font-size: 85px;
    color: white;
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 1px #1f1f1f;
}
#welcome-section p {
    font-size: 25px;
    color: white;
    font-style: italic;
    
    }
.projects-section {
    height: 100vh;
    margin: 0;
    background-color: #082032;

}
.projects-section-header {
    text-align: center;
    font-size: 40px;
    padding: 50px;
    text-decoration: underline #FF4C29;
    text-shadow: 2px 2px 1px #1f1f1f;
    color: white;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 60px;
    grid-gap: 40px;

}
@media (max-width: 450px) {
    .projects-grid {
        grid-template-areas: "project-tile"
                             "project-tile"
                             "project-tile";
    }
}
.tile-image { 
    max-width: 100%;
    max-height: 100%;
    display: block; /*removes extra space below image*/
    border-radius: 6px;
    cursor: pointer;

}
.title {
    color: white;
    text-align: center;
    /* border: 2px solid #FF4C29; */
    /* text-decoration: underline #FF4C29; */
    font-size: 20px;
    text-decoration: none;
    
}
.profile-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;





    background: gray;
}
.contact-section-header {
    font-size: 5rem;
    color: white;
    text-shadow: 2px 2px 1px #1f1f1f;

}
.btn {
    display: inline-block;
    padding: 1rem 2rem;

}
.contact-links {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
    max-width: 980px;
    margin-top: 4rem;
}
#profile-link {
    padding: 15px;
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 1px #1f1f1f;
}

